<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task manager
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
<ion-input type="text" label="Título da tarefa:" placeholder="ex.: Jogar o lixo fora" [(ngModel)]="newTask"></ion-input>
<ion-button (click)="addTask()">Adicionar</ion-button>
</ion-item>

<div *ngFor="let task of filteredTasks">
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ task.titulo }}</ion-card-title>
    <ion-card-subtitle>id: {{ task.id }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Notas da tarefa:</ion-card-subtitle><ion-textarea></ion-textarea>
    <br>
  </ion-card-content>

  <ion-button fill="clear" color="default" (click)="concluir(task.id)">
    <ion-icon slot="start" [name]="task.complete ? 'checkmark-circle' : 'ellipse-outline'">
    </ion-icon>
      {{ task.complete ? "Desmarcar concluído" : "Marcar concluído" }}
  </ion-button>

  <ion-button fill="clear" color="danger"  (click)="excluir(task.id)">
    <ion-icon name="trash"></ion-icon>Excluir</ion-button>
</ion-card>
</div>
  <ion-button (click)="mostrarOcultar()">
    <ion-icon [name]="exibirConcluidos ? 'eye-off' : 'eye'"></ion-icon>
    {{ exibirConcluidos ? "Ocultar concluídos" : "Exibir concluídos" }}
  </ion-button>

</ion-content>
