<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
<ion-input type="text" [(ngModel)]="newTask"></ion-input>
<ion-button (click)="addTask()">Adicionar</ion-button>
</ion-item>

<ion-list>
  <ion-item *ngFor="let task of tasks">
    <ion-label>ID: {{ task.id }}</ion-label>
    <ion-label>Titulo: {{ task.titulo }}</ion-label>
    <ion-label>Completo: {{ task.complete }}</ion-label>
  </ion-item>
</ion-list>

</ion-content>
